<div class="lmain">
  <div class="pt1">
    <div class="logols">
      <img src="assets/images/logo.jpg" class="lsimg">
    </div>
    <div class="fs-2  fw-bold text-center w-100">Ronak</div>
  </div>

  <div class="info pt-1 p-3">
    <div class=" fs-1  text-center w-100 ">
      Information
    </div>
    
    <table>
      <tr>
          <td>Department</td>
          <td>:</td>
          <td>CSE</td>
      </tr>
      
      <tr>
          <td>Gender</td>
          <td>:</td>
          <td>Male</td>
      </tr>
      <tr>
          <td>Salary</td>
          <td>:</td>
          <td>300000</td>
      </tr>
      <tr>
          <td>Joining Date</td>
          <td>:</td>
          <td>12/3/2023</td>
      </tr>
      <tr>
          <td>EmailId</td>
          <td>:</td>
          <td>abc...xyz</td>
      </tr>
      
      <tr>
          <td>Mobile No</td>
          <td>:</td>
          <td>56546165494</td>
      </tr>

    </table>
    
   
  </div>
</div>