<div class="container">
    <div class="raw" style="text-align: center;">

    <div class="card col-2" style="width: 15rem;">
        <img src="assets/images/medical.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Medical Leave</h5>
            <table style="text-align: center;margin-left:auto;margin-right: auto;">
                <tr>
                    <td>Avilable</td>
                    <td>:</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Booked</td>
                    <td>:</td>
                    <td>4</td>
                </tr>
            </table>
        
        </div>
    </div>

    <div class="card col-2" style="width: 15rem;">
        <img src="assets/images/couple.png" class="card-img-center" alt="...">
        <div class="card-body">
        <h5 class="card-title">Marriage Leave</h5>
        <table style="text-align: center;margin-left:auto;margin-right: auto;">
            <tr>
                <td>Avilable</td>
                <td>:</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Booked</td>
                <td>:</td>
                <td>4</td>
            </tr>
        </table>
        
        </div>
    </div>

    <div class="card col-2" style="width: 15rem;">
        <img src="assets/images/leave.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Casual Leave</h5>
        <table style="text-align: center;margin-left:auto;margin-right: auto;">
            <tr>
                <td>Avilable</td>
                <td>:</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Booked</td>
                <td>:</td>
                <td>7</td>
            </tr>
        </table>
        
        </div>
    </div>

    <div class="card col-2" style="width: 15rem;">
        <img src="assets/images/maternity.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title" >Maternity Leave</h5>
        <table style="text-align: center;margin-left:auto;margin-right: auto;">
            <tr>
                <td>Avilable</td>
                <td>:</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Booked</td>
                <td>:</td>
                <td>4</td>
            </tr>
        </table>
       
        </div>
    </div>
</div>
</div>